<!DOCTYPE html>
<html lang="pl-PL">
    
<head>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQUA Services</title>
</head>

<body>
    <header>
    
        <h1>AQUA</h1>
        <img src="/images/octopus.png" class="logoheader"alt="AQUA Logo">
    </header>
  
    <nav>
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="/employees">Pracownicy</a></li>
            <li><a href="/services" class="active">Usługi</a></li>
            <li><a href="/clients" >Klienci</a></li>


        </ul>
    </nav>

    <main>
        <h2>Szczegóły Usługi </h2>
        

        <form class="form">
            
                <label for="IdUslugi">Id Usługi:<sup>*</sup></label>
                <input type="number" name="IdUslugi" value=1 id="IdUslugi" disabled />
            
                <label for="Pracownika">Pracownik:<sup>*</sup></label>
                <input type="text" name="IdPracownika" value="Paweł Pietrzak" id="Pracownik" disabled />
            
                <label for="Klient">Klient: <sup>*</sup></label>
                <input type="text" name="klient" value="Jan Kowalski" id="klient" disabled/>
            
                <label for="data">Data wykonania:<sup>*</sup></label>
                <input type="date" name="data" value="2020-03-11" id="data" disabled/>
            
                <label for="Opis">Opis:<sup>*</sup></label>
                <input type="text" name="Opis" value="Wymiana filtra" id="Opis" disabled/>
           
                <label for="Cena">Cena:<sup>*</sup></label>
                <input type="number" name="Cena" value=100 id="Cena" disabled/>
            
            <div class="from-buttons">
                 <a href="service-form.html" class="form-button-submit">Edytuj</a> 
                
            
            <a href="service-list.html" class="form-button-cancel">Powrót</a>
        </div>
        </form>
        
        

        

    </main>
    <footer>
        Paweł Pietrzak, s18793
    </footer>


</body>

</html>