<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQUA Services</title>
</head>

<body>
    <header> 
        
        
        <h1>AQUA</h1>

        <img src="images/octopus.png" class="logoheader" alt="AQUA Logo">
    </header>

    <nav>
        <ul>
            <li><a href="/" class="active">Strona Główna</a></li>
            <li><a href="/employees"> Pracownicy</a></li>
            <li><a href="/services">Usługi</a></li>
            <li><a href="/clients">Klienci</a></li>

        </ul>
    </nav>

    <main>
        <h2>Strona Główna</h2>
        <p>
            Strona poświecona przedmiotowi Technologia internetu.
            Tematyka strony jest serwis akwarystyczny AQUA.
            Zajmuję się on w głównej mierze serwisowaniem, zakładaniem akwariów i poradami związanymi z akwarystyką.
            Jest to część wykonanana na potrzeby mp1. Dalsze funkcjonalności będą wprowadzane w dalszych tygodnniach, 
            po każdych ćwiczeniach. 
            

        </p>

        
    </main>
    <footer>
        Paweł Pietrzak, s18793

        <div class="icon-bar">
            <a href="https://www.facebook.com/polskojaponska/" class="facebook"><i class="fa fa-facebook"></i></a>
            
            <a href="https://www.instagram.com/polskojaponska/?hl=pl" class="instagram"><i class="fa fa-instagram"></i></a>
            
            <a href="https://www.youtube.com/user/TVPjwstk"class="youtube"><i class="fa fa-youtube"></i></a>
          </div>
    </footer>


</body>

</html>